<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>A propos de nous </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="jumbotron text-center">
    <h1 >
      Contactez-nous

    </h1>
  </div>
  <ion-list>
    <ion-item> Email :  <Strong> {{contact.email}} </Strong></ion-item>
    <ion-item> Telephone : <Strong>{{contact.tel}} </Strong></ion-item>
    <ion-item> Consultez notre application web sur le lien :  <br> <Strong>www.Incident.ma </Strong></ion-item>

  </ion-list>
</ion-content>
