<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter un incident</ion-title>
  </ion-toolbar></ion-header>

<ion-content>
  <div class="container" center>
    <form #f="ngForm" >

      
     <br>
      <ion-item lines="none">
        <ion-label style="color: steelblue;">Secteur : </ion-label>
        <ion-select placeholder="Choisissez  un secteur" id="secteur" value="val"  (ionChange)="do2($event)"   [value]="selectedSecteur" >
          <ion-select-option *ngFor="let val of this.ListSecteur" [value]="val.id"  multiple class="form-control">{{ val.secteur }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="Incident.secteur.secteur!=undefined" lines="none">
        <ion-label  *ngIf="Incident.secteur.secteur!=undefined"  style="color: steelblue;">Type : </ion-label>
        <ion-select placeholder="Choisissez  un type" (ionChange)="do($event)"   *ngIf="Incident.secteur.secteur!=undefined"  [value]="selectedType" >
          <ion-select-option  *ngFor="let val of this.ListType" [value]="val.id" > {{ val.type}}</ion-select-option>
        </ion-select>
      </ion-item>
  
      
      <!-- Need to get province automatically from the long and lat  -->
        <div style="height: 12px;"></div>
        <ion-label style="margin-left: 15px;margin-bottom:0px;font-size: 17px;font-weight:500;" class="form_label" >Description : </ion-label>
        <textarea class="textareaclass" cols="40" rows="5" style="height: 100px;" type="text" name=" Description"  ngModel  [(ngModel)]="Incident.description"  [value]="description">
          </textarea>
      <div style="margin-right: 5%;" class="suivant_div">    
      <ion-button  (click)="TakePicture()">
            <ion-icon  size="large" name="add-circle-outline"></ion-icon>&nbsp;Ajouter une photo 
      </ion-button>    
      </div>

      <div style="height: 25px;"></div>

      <ion-label style="margin-left: 20px;margin-bottom:0px;margin-top: 20px;font-size: 18px;" class="form_label" >Longitude : </ion-label>
      <input focusable="false" readonly style="border: none;" type="integer" name="Longitude" ngModel   [(ngModel)]="Incident.longitude" [value]="longitude">
      
      <div style="height: 25px;"></div>

      <ion-label style="margin-left: 20px;margin-bottom:0px;margin-top: 20px;font-size: 18px;" class="form_label" >Latitude &nbsp;&nbsp;&nbsp;: </ion-label>
      <input focusable="false" readonly style="border: none;" type="integer" name="Latitude"  ngModel   [(ngModel)]="Incident.latitude"  [value]="latitude" >
      
      <div style="height: 25px;"></div>

      <ion-label style="margin-left: 20px;margin-bottom:0px;margin-top: 20px;font-size: 18px;" class="form_label" >Province &nbsp;&nbsp;: </ion-label>
      <input focusable="false" readonly style="border: none;" type="text" name="Province"  ngModel   [(ngModel)]="Incident.province.province"  [value]="Province" >

      <ion-card *ngIf="Incident.photo!=undefined">
        <ion-card-content >
          <ion-img [src]="Incident.photo"></ion-img>
        </ion-card-content>
  
      </ion-card>
      <br *ngIf="Incident.photo==undefined" ><br *ngIf="Incident.photo==undefined"><br *ngIf="Incident.photo==undefined">
      
      
      
      <div class="pay_div">
        <ion-button (click)="addIncident()" ><ion-icon  size="large" name="checkbox-outline"></ion-icon>Déclarer</ion-button>
     
        <ion-button  (click)="AnnulerIncident()"><ion-icon  size="large" name="close-circle-outline"></ion-icon>Annuler</ion-button>
      </div>
      <br>
      
      
     
       
    </form>
  </div>

</ion-content>
