h3 { text-align: center }

.image{
    padding-bottom: 5%;
    padding-top: 3%;
    height: 80%;
    position: absolute;
    left: 19%;
}

.image1{
    padding-bottom: 2%;
    padding-top: 2%;
    height: 80%;
    position: absolute;
    left: 40%;
    width: 62%;
}

.footer{
    position: absolute;
    bottom: 0%;
    left: 19%;
}