
<div class="row body">

    <app-sidebar> </app-sidebar>
  </div>
<div style="text-align: center; margin-top: 50px;">
<div class="item active">
  <img  [src]="contact.logo"  style="width:100%; height: 15%">
</div>

<div >
  <img class="image" src="../../assets/Images/Capture.PNG" alt="">
  <img class="image1" src="../../assets/Images/Capture1.PNG" alt="">
 
</div>
</div>

<div class="footer" >
  <!-- <div class="panel-body">
    <h4 style="font-weight: 900; color : white">TAB</h4><h4 style="font-weight: 900; color :aqua">LIGH</h4> <h5>Tous pour ameliorer notre nation !</h5> 
  </div> -->
  
</div>
<p></p>




