

.row {
  display: flex;
}
.col {
  flex: 1; 
  padding: 20px;
  height:50%;
  width: 30%;
  border-style: inset;
}
.button1{
  position: relative;
  margin-left: 89%;
  margin-top: -5%;
}
.button2{
  position: relative;
  margin-left: 89%;
  margin-top: -5%;
}

.button3{
  position: relative;
  margin-left: 89%;
  margin-top: -5%;
}

.button4{
  position: relative;
  margin-left: 89%;
  margin-top: -5%;
  
}