
<div class="row body">

  <app-sidebar> </app-sidebar>
</div>
<div style="padding-left: 210px; padding-top: 100px;">

<ng-template #template>
  <div >
  <div class="modal-header">
    Veuillez mettre a jour le statut
    <button type="button" class="close pull-right" area-label="'close" (click)="modalRef.hide()">
      <span area-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">

    <label>statut:</label>
    <select   name="statut"  (change)="getStatut($event)" class="form-control">
      <option  [value]=null  >Selectionner un statut </option>
      <option  *ngFor="let s of statut" >{{s}}</option>
    </select>
    <br>
    <label *ngIf="StatutChoisi === 'validé'"> Professionnel:</label>
    <select   name="user"   *ngIf="StatutChoisi === 'validé'" (change)="do2($event)" class="form-control">
      <option  [value]=null  >Selectionner un  Professionnel </option>
      <option  *ngFor="let s of prof"  value={{s.id}}>{{s.name}}</option>
    </select>
    <br>
    <input *ngIf="StatutChoisi === 'rejeté'" type="text"  id="Motif" class="form-control"  formControlName="Motif" placeholder="Motif" (change)="motif($event)" >
    <br>
    <button type="submit" (click)="submit()" class="monBoutton" >valider</button>
    <br>
    <br>
    <br>
    <br>
  </div>
  </div>
</ng-template>
<div [hidden] = "isShow" class="panel panel-primary">
  <div class="panel-heading">
    Liste des incidents
    </div>
    <table class="table table-condensed" >
      <thead>
      <tr>
        <th scope="col" > Photo </th>
        <th scope="col" > Desciption  </th>
        <th scope="col" > Secteur </th>
        <th scope="col" > Type </th>
        <th scope="col"> Province </th>
        <th scope="col" > Date </th>
        <th scope="col" > Statut </th>
      </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of Incidents"  >
            <td scope="row" *ngIf=" item.statut.etat === 'declaré' || item.statut.etat === 'rejeté' || item.statut.etat === 'validé'" >
              <img class="image" [src]="item.photo">
            </td>
            <td scope="row" *ngIf=" item.statut.etat === 'declaré' || item.statut.etat === 'rejeté' || item.statut.etat === 'validé'">{{ item.description }}</td>
            <!-- <td scope="row" *ngIf=" item.statut.etat === 'declaré' || item.statut.etat === 'rejeté' || item.statut.etat === 'validé'">{{ item.statut.etat }}</td> -->
            <td scope="row" *ngIf=" item.statut.etat === 'declaré' || item.statut.etat === 'rejeté' || item.statut.etat === 'validé'">{{ item.secteur.secteur }}</td>
            <td scope="row" *ngIf=" item.statut.etat === 'declaré' || item.statut.etat === 'rejeté' || item.statut.etat === 'validé'">{{ item.type.type }}</td>
            <td scope="row" *ngIf=" item.statut.etat === 'declaré' || item.statut.etat === 'rejeté' || item.statut.etat === 'validé'">{{ item.province.province }}</td>
            <td scope="row" *ngIf=" item.statut.etat === 'declaré' || item.statut.etat === 'rejeté' || item.statut.etat === 'validé'">{{ item.date.substring(0,10) +" "+ item.date.substring(11,19)  }}</td>
            <td scope="row" *ngIf=" item.statut.id==3" style="font-weight: bold;color: green;">{{ item.statut.etat }}</td>
            <td scope="row" *ngIf=" item.statut.id==5" style="font-weight: bold;color: grey;">{{ item.statut.etat }}</td>
            <td scope="row" *ngIf=" item.statut.id==6" style="font-weight: bold;color: blue;">{{ item.statut.etat }}</td>
            
            

                
            <button type="submit" class="monBoutton1"  *ngIf=" item.statut.etat === 'declaré' || item.statut.etat === 'rejeté' || item.statut.etat === 'validé'"  (click)="edit(item)">Editer</button>
          </tr>
        </tbody>
      </table>
      
</div>
<div  [hidden] = "!isShow" id="map" style="flex: 1; padding: 1em;"></div>

<div [hidden] = "!isShow" class="card" *ngIf="Incident1" >
  <img class="card-img-top" [src]="Incident1.photo" alt="" class="image1">
  <div class="card-body"  *ngIf="Incident1.statut.id==5" style="font-weight: bold;color:grey;" >
    <h4 class="card-title" style="text-align: center;">{{Incident1.statut.etat}}</h4>
  </div>
  <div class="card-body"  *ngIf="Incident1.statut.id==3" style="font-weight: bold;color: green;" >
    <h4 class="card-title" style="text-align: center;">{{Incident1.statut.etat}}</h4>
  </div>
  <div class="card-body"  *ngIf="Incident1.statut.id==6" style="font-weight: bold;color: blue;" >
    <h4 class="card-title" style="text-align: center;">{{Incident1.statut.etat}}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <label for="">Date : </label> {{Incident1.date.substring(0,10) +" "+ Incident1.date.substring(11,19)  }}</li>
    <li class="list-group-item"><label for="">secteur : </label>{{Incident1.secteur.secteur}}</li>
    <li class="list-group-item"><label for="">Province : </label>{{Incident1.province.province}}</li>
    <li class="list-group-item">{{Incident1.description}}</li>
  </ul>
  
 
  
</div>

 <div [hidden] = "!isShow" class="card2">
  <label>statut:</label>
  <select   name="statut"  (change)="getStatut($event)" class="form-control">
    <option  [value]=null  >Selectionner un statut </option>
    <option  *ngFor="let s of statut" >{{s}}</option>
  </select>
  <br>
  <label *ngIf="StatutChoisi === 'validé'"> Professionnel:</label>
  <select   name="user"   *ngIf="StatutChoisi === 'validé'" (change)="do2($event)" class="form-control">
    <option  [value]=null  >Selectionner un  Professionnel </option>
    <option  *ngFor="let s of prof"  value={{s.id}}>{{s.name}}</option>
  </select>
  <br>
  <input *ngIf="StatutChoisi === 'rejeté'" type="text"  id="Motif" class="form-control"   placeholder="Motif" (change)="motif($event)" >
  <br>
  <button type="submit" (click)="submit()" class="monBoutton" >valider</button>
  <br>
  <br>
  <br>
  <br>
 </div>
</div>