
#map {
    
    //right: 8px;
    //left: 5px;
    height: 600px;
    width: 900px;
    border-width:5px;
    border-style:outset;
    border-color:gray;
    border-radius: 10px;


}

.container {
    overflow:auto
}



