.container{
    margin-top: 10px;
    margin-left: 5%;
    background-color: white;
    border-top: 5px solid #09aacc;
    box-shadow : 0px 1px 10px rgba(98,140,255,0.5);
    width: 90%;

}
.form_label{
    margin :10px 10px 10px 10px;
    border:0px;
    color:steelblue;
    font-size:16px;
    margin-left: 10px;
    margin-top:50px;
    padding: 0px 0px 0px 0px;
}

.decription_text{
    margin-right:3%;
    width: 70%;
    font-size: 16px;
    text-align-last: justify;
    text-align: justify;
}

hr{
    border-top: 1px solid steelblue;
}
